<div class="main">
    <div class=""Signup>
        <mat-card>
            <mat-card-content>
                <form [formGroup]="signup">
                    <h2>SignUp Page</h2>
                    <mat-form-field>
                        <mat-label> Enter your Name</mat-label>
                        <input matInput formControlName="name" required>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label> Enter your Email-Id</mat-label>
                        <input matInput formControlName="email" required>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Create your password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                          <mat-icon> {{hide ? 'visibility_off' : 'visibility'}} </mat-icon>
                        </button>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Re-enter your password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword" required >
                        <mat-error *ngIf="signup.controls.confirmPassword.errors?.['confirmedValidator']">
                            Passwords did not match
                          </mat-error>
                        <!-- <mat-error *ngIf="signup.controls.confirmPassword.hasError('required')"></mat-error> -->
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                          <mat-icon> {{hide ? 'visibility_off' : 'visibility'}} </mat-icon>
                        </button>
                    </mat-form-field>
                    <div>
                        <p>Already a member? <button mat-button (click)="login()">Login</button></p>
                    </div>
                    <button mat-raised-button color="primary" (click)="signUp()" [disabled]="formValidation()">SignUp</button>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>
