<div class="main">
    <div class=""Signup>
        <mat-card>
            <mat-card-content>
                <form>
                    <h2>SignUp Page</h2>
                    <mat-form-field>
                        <mat-label> Enter your Name</mat-label>
                        <input matInput formControlName="Name" required>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label> Enter your Email-Id</mat-label>
                        <input matInput required>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Create your password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" >
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                          <mat-icon> {{hide ? 'visibility_off' : 'visibility'}} </mat-icon>
                        </button>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Re-enter your password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" >
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                          <mat-icon> {{hide ? 'visibility_off' : 'visibility'}} </mat-icon>
                        </button>
                    </mat-form-field>
                    <button mat-raised-button color="primary" (click)="signUp">SignUp</button>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>
