<p>hindiassessments works!</p>
<div class="main">
    <div class="languageselection">
        <mat-toolbar>
            <span>Language Learning Application</span>
            <span class="example-spacer"></span>
        </mat-toolbar>  
          <button mat-button (click)="GotoAssesments()"> <mat-icon>arrow_right_alt</mat-icon> Go to Assessments </button>
        <div class="quiz-container">
            <h2>Multiple Choice Quiz</h2>
            <div *ngFor="let question of questions; let i = index" class="question">
            <mat-label>{{ question.text }}</mat-label>
            <div *ngFor="let option of question.options; let j = index">
                <input type="radio" name="question{{i}}" [value]="j" (change)="selectOption(i, j)">
                <label>{{ option }}</label>
            </div>
            </div>
            <button mat-raised-button color="primary" (click)="submitQuiz()">Submit</button>
        </div>
</div>
</div>