<div class="main">
    <div class="home">
        <mat-card>
            <mat-card-content>
                <h1>A language learning platform for individuals</h1>
                <div>
                    <body>
                        LanguageLink is a dynamic language learning platform designed to revolutionize the way users master new languages. Our application combines state-of-the-art technology with proven language learning methodologies to provide users with an immersive and effective learning experience.Upon registration, users are prompted to take a brief assessment to determine their current proficiency level and learning objectives. LanguageLink then generates personalized learning paths tailored to each user's needs and preferences.
                        Upon registration, users are prompted to take a brief assessment to determine their current proficiency level and learning objectives. LanguageLink then generates personalized learning paths tailored to each user's needs and preferences.
                        LanguageLink tracks users' progress and performance throughout their language learning journey, providing detailed insights and feedback to help users identify areas for improvement and celebrate their achievements.
                    </body>
                </div>
                <div>
                    <button  style='margin-right:16px' mat-raised-button color="primary" (click)="loginPage()">Login</button>
                    <button style='margin-right:16px' mat-raised-button color="primary" (click)="SignupPage()">Signup</button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
