mat-card {
    max-width: 1500px;
    margin: 2em auto;
    text-align: left;
  }
  h1 {
    font-style: oblique;
    font-family: cursive;
    color: blueviolet;
  }
  h3 {
    font-style: normal;
    font-family: 'Courier New', Courier, monospace;
    color: gray;
    font-size: medium;
  }