<div class="main">
    <div class="home">
        <mat-card>
            <mat-card-content>
                <h1>A language learning platform for individuals</h1>
                <div>
                    <h3>Overview</h3>
                </div>
                <div>
                    <img mat-card-image src="E:\BITS_FSD_Project\E:\BITS_FSD_Project.jpg" alt="Photo">
                </div>
                <div>
                    <body>
                        The Language Learning Platform is an online educational tool designed to help users learn new languages or improve their existing language skills. It provides a range of interactive features and resources to make language learning engaging, effective, and accessible to users of all levels.
                        Key Features:
                        1. 
                        2.
                    </body>
                </div>
                <button mat-raised-button color="primary" (click)="loginPage()">Login</button>
                <button mat-raised-button color="primary" (click)="SignupPage()">Signup</button>
            </mat-card-content>
        </mat-card>
    </div>
</div>
