  h1 {
    font-style: oblique;
    font-family: cursive;
    color: blueviolet;
  }
  h3 {
    font-style: normal;
    font-family: 'Courier New', Courier, monospace;
    color: gray;
    font-size: medium;
  }
  mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
  }
  
  mat-form-field {
    display: block;
  }